<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Overview</th>
      <th>Release date</th>
      <th>Language</th>
      <th>Imdb</th>
      <th>Themoviedb</th>
      <th>Budget</th>
      <th>Backdrop path</th>
      <th>Adult</th>
      <th>Revenue</th>
      <th>Runtime</th>
      <th>Tagline</th>
      <th>Video</th>
      <th>Vote average</th>
      <th>Vote count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.status %></td>
        <td><%= movie.overview %></td>
        <td><%= movie.release_date %></td>
        <td><%= movie.language %></td>
        <td><%= movie.imdb_id %></td>
        <td><%= movie.themoviedb_id %></td>
        <td><%= movie.budget %></td>
        <td><%= movie.backdrop_path %></td>
        <td><%= movie.adult %></td>
        <td><%= movie.revenue %></td>
        <td><%= movie.runtime %></td>
        <td><%= movie.tagline %></td>
        <td><%= movie.video %></td>
        <td><%= movie.vote_average %></td>
        <td><%= movie.vote_count %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
